{% extends "listbase.html" %}
{% block body_content %}
<br>
        <h1>Main page</h1>
    <ol>
        <li><a href="lists">lists </a></li>
        <li><a href="lists/add_list">add_list  </a></li>
        <li><a href="lists/edit_list"> edit_list  </a></li>
        <li><a href="lists/view_tasks"> view_tasks  </a></li>
        <li><a href="lists/add_task"> add_task </a></li>
        <li><a href="lists/edit_task"> edit_task </a></li>
        <li><a href="lists/add_task"> add_task </a></li>
    </ol>
<br>
{% endblock %}